.counter {
  background-color: dodgerblue;
  display: flex;
  height: 5rem;
  padding: 2rem 15rem;
}

.counter .sub-btn,
.counter .add-btn {
  background-color: #f1f1f1;
  padding: 20px;
  font-size: 30px;
}

.counter .sub-btn,
.counter .add-btn,
.counter span {
  margin-right: 1rem;
}

.counter span {
  display: inline-block;
  background-color: #fff;
  width: 2rem;
  text-align: center;
  padding-top: 2rem;
}

/* login form style */

/* blog style */
.blogs-container {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: dodgerblue;
}

.blog-col1,
.blog-col2 {
  width: 50%;
}

.blog-col1 form {
  border: 5px solid green;
  text-align: left;
  padding: 2rem;
}

.card {
  border: 1px solid green;
  background-color: bisque;
}
